.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    background-color: #ACB992
}
.bg{
    background-color: #ACB992;
}
.fnt{
    color: #362706;
    background-color: #ACB992;
    
    font-size: 100px;
}
/*plant leaf status font
*/
.navbar-brand {
    font-size: 2rem;
    color: white;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.navbars{
    background-color: #ACB992;
    height: 1000px;
}
.navbar{
    background-color: #362706;
    
}
.container{
    background-color: #362706;
}
.foot
{

    background-color: #362706;
    color:white;
    margin-top:550px;
    margin-bottom:0px;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left:0px;
    text-align:center;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    bottom: 0;
    width: 100%;


}
